.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
  }
  
  .login-container {
    background-color: white;
    padding: 32px;
    width: 720px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 600px;
  }
  
  .login-title {
    font-size: 24px;
    font-size: 40px;
    margin-bottom: 64px;
    text-align: center;
    font-family: 'MainFont', sans-serif;
  }

  @font-face {
    font-family: 'MainFont';
    src: url('../fonts/17661.otf') format('truetype');
    font-weight: normal;
  }
  
  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .login-field {
    display: flex;
    flex-direction: column;
  }
  
  .login-field label {
    font-size: 12px;
    text-transform: uppercase;
    color: gray;
    margin-bottom: 4px;
  }
  
  .login-field input {
    padding: 10px;
    border-radius: 9999px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .login-field input:focus {
    border-color: #4f46e5; /* синий при фокусе */
  }
  
  .forgot-password {
    text-align: center;
  }
  
  .forgot-password a {
    font-size: 12px;
    color: gray;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .login-button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #333;
  }
  