.sidebar {
  width: 450px;
  height: 700px;
  background: rgba(61, 59, 112, 1);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  margin-top: 50px;
}


.menu {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 15px 0;
  font-size: 34px;
  padding: 5px;
  transition: background 0.3s, color 0.3s;
  border-radius: 10px;
  font-family: 'MainFont', sans-serif;
  font-style: 128px;
}

.menu a:hover {
  background: rgba(255, 255, 255, 0.2);
}

@font-face {
  font-family: 'MainFont';
  src: url('../fonts/17661.otf') format('truetype');
  font-weight: normal;
}