POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_HOST=db
DB_PORT=5432
SECRET_KEY=SECRET_KEY_django_project
IP=server_ip_address
DEBUG_MODE=debug_mode
DOCKER_USERNAME=docker_username