.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-top: 50px;
  }
  
  .logo img {
    width: 100px;
    height: 50px;
    
  }
  
  .logo span {
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    font-family: 'NameFont', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  @font-face {
    font-family: 'NameFont';
    src: url('../fonts/Lemonada.ttf') format('truetype');
    font-weight: normal;
  }

  .Main-button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
    height: 70px;
    width: 450px;
    background: transparent;
    border: none !important;
  }
