.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12rem;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fafafa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: "MainFont", sans-serif;
}

.container h1 {
  text-align: center;
  margin-bottom: 48px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-weight: 500;
  font-size: large;
  font-size: 24px;
}

input[type="text"],
select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 20px;
  font-family: "MainFont", sans-serif;
}

input[type="file"] {
  display: none;
}

.setphotoforrecipes {
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  margin-left: 35%;
  font-family: 'MainFont', sans-serif;
  font-size: 24px;
  z-index: 0;
  background: linear-gradient(
    60deg,
    #d033f7,
    #9255f3,
    #714eef,
    #a166ab,
    #5073b8,
    #1054ad,
    #073db3,
    #1d1b97
  );
  background-size: 300% 300%;
  transition: 0.5s;
  animation: animatedgradient 3s ease alternate infinite;
}

.setphotoforrecipes:hover {
  transform: translate(0,-1px);
  transform: scale(1.1);
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.find-recipe {
  padding: 10px 16px;
  font-size: 24px;
  font-family: "MainFont", sans-serif;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgb(65, 5, 230);
  transition: 0.5s;
  background-color: rgba(61, 59, 112, 1);
}

.button-row {
  padding: 5px 8px;
  font-size: 14px;
  font-family: "MainFont", sans-serif;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgb(194, 189, 207);
  transition: 0.5s;
  background-color: rgb(39, 39, 39);
}

.button-row:hover {
  transform: translate(0,-1px);
  box-shadow: 0 20px 40px 0 rgb(65, 5, 230);
}
.button-row:disabled {
  background-color: rgb(173, 173, 173);
  transition: 0s;
  pointer-events: none;
}

.find-recipe:hover {
  transform: translate(0,-1px);
  box-shadow: 0 20px 40px 0 rgb(65, 5, 230);
}

.find-recipe {
  margin-top: 20px;
  width: 100%;
}

.result {
  margin-top: 10px;
  max-height: 400px;
  overflow-y: auto;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  scrollbar-width: none;
  scrollbar-color: #888 #f1f1f1;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

.result::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

.result::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.result::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.result::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}

.recipe {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 14px;
  margin-bottom: 18px;
  background-color: #fff;
  transition: background-color 0.5s, transform 0.6s;
  z-index: 1000;
}

.recipe:hover{
  background-color: #7391c2;
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.recipe h3 {
  margin-top: 0;
}

.recipe a {
  color: #007bff;
  text-decoration: none;
}

.recipe a:hover {
  text-decoration: underline;
}

p {
  margin: 6px 0;
}

@font-face {
  font-family: 'MainFont';
  src: url('../fonts/17661.otf') format('truetype');
  font-weight: normal;
}

@font-face {
    font-family: 'TextMajor';
    src: url('../fonts/mvboli.ttf') format('truetype');
    font-weight: normal;
  }

  .image-preview {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
}

.image-preview img {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.image-preview button {
  background-color: #970536;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.image-preview button:hover {
  background-color: #d9363e;
}

.pagination {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px;
  margin: 20px auto;
  max-width: 600px; 
}