.sidebar {
  position: fixed; 
  left: 0;
  top: 200px;
  width: 25vw; 
  height: 70vh;
  min-width: 100px;
  background: rgba(61, 59, 112, 1);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  z-index: 1000;
  overflow-y:scroll;
}
.sidebar::-webkit-scrollbar {
  transform: none;
  visibility: hidden;
}

.menu {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.menu button {
  color: white;
  text-decoration: none;
  margin: 5vh 0;
  margin-right: 50px;
  font-size: 34px;
  padding: 5px;
  transition: background 0.3s, color 0.3s;
  border-radius: 10px;
  font-family: 'MainFont', sans-serif;
  font-style: 128px;
  background: transparent;
  border: none !important;
  transform: scale(1.05);
}

.menu button:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

@font-face {
  font-family: 'MainFont';
  src: url('../fonts/17661.otf') format('truetype');
  font-weight: normal;
}
