.sidebar {
  position: fixed;
  inset: 0 0 auto 0;  
  overflow-x: hidden;
  flex-wrap: wrap;
  top: 0;
  width: 100%; 
  min-height: 8em;
  max-height: 10em;
  background: rgba(61, 59, 112, 1);
  color: white;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  overflow-y:scroll;
  scrollbar-width: none;
  z-index: 1;
}

.menu {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-evenly;
  text-align: center;
  overflow-x:scroll;
  scrollbar-width: none;
}

.menu button {
  color: white;
  text-decoration: none;
  margin: 0;
  margin-right: 0;
  font-size: 24px;
  padding: 5px;
  transition: background 0.3s, color 0.3s;
  border-radius: 10px;
  font-family: 'MainFont', sans-serif;
  font-style: 128px;
  background: transparent;
  border: none !important;
  min-width: 150px;     /* чтобы не стало слишком маленьким */
  max-width: 200px;     /* чтобы не растягивалось бесконечно */
  font-size: 2rem;
}

.menu button:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}


@font-face {
  font-family: 'MainFont';
  src: url('../fonts/17661.otf') format('truetype');
  font-weight: normal;
}
