# Web
Django
djangorestframework
django-cors-headers
python-dotenv
django-debug-toolbar
pytest-django
psycopg2-binary
django_bootstrap5

# Parsing
requests
beautifulsoup4
lxml
scrapy 
scrapy-playwright
selenium
celery

# Computer Vision
numpy
opencv-python-headless
pillow
torch
torchvision
ultralytics

# Development Tools
black
flake8
isort
mypy
pytest
pytest-cov
requests-mock
pymorphy2
