.show-cook body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    135deg,
     #1A89D9 0%,
     #B6A1E0 54%,
    #9826E3 100%);
  background-attachment: fixed;
  background-size: cover;
}

.flexible_show{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.head_flex_header{
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  z-index: 2000;
}


.head_flex{
  display: flex;
  position: fixed;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  z-index: 0;
}

.style_button {
  margin-left: 0%;
  margin-top: 5vh;
  padding: 0.8em 1.6em;
}

